.Card{
    width: 20vw;
    border: 3px solid rgb(25, 221, 156);
    margin: 10px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}


